<form method="get" action="/quizes">Búsqueda
      <input type="text" name="search" value=" " />
      <input type="submit" value="Enviar">
</form>

<table>
  <% var x; for (x=0; x < quizes.length; x++) { %>       
     <tr>
     	<td><a href="/quizes/<%= quizes[x].id %>"><%= quizes[x].pregunta %></a></td>
     	<td><a href="/quizes/<%= quizes[x].id %>/edit"><button>editar</button></a></td>
     </tr>
   <% } %>
</table>
<a href="/quizes/new" ><button type="button">Crear pregunta</button></a>
